body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


.image { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position:absolute; width:100%; height:100%;
}

.image h1 {
    font-size: 2.8em;
    background: rgba(75,75,75,0.4);
    margin: 5em auto;
    padding: 0.8em;
    width: 50%;

}

.header {
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    width: 100%;
    min-height: 80px;
    background: black;
    color: #dedede;
}

.header ul {
    list-style: none;
}

.header ul li {
    float: left;
    margin: 0.8em 0.25em;
}

.row {
    position:absolute;
    width:100%;
    top:100%;
    margin-top: -5px;
    border-top: 10px solid black;
    background: white;

    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.row > .item {
    width: 25%;

    min-height: 120px;
    padding: 1em; margin: 1em;
    
    /*
    background: rgba(90,90,90,0.6);

    display: flex;
    flex-flow: row;
    justify-content: center; 
    */
}

div.item .left {
    margin-left: 80px;
}

div.item .center {
}


div.item .right {
}

